In [204]:
import pandas as pd
import numpy as np
from datetime import timedelta, date

In [205]:
customers =  pd.read_csv("C:\\Users\\M71846\\Desktop\\customers.csv")
orders = pd.read_csv("C:\\Users\\M71846\\Desktop\\orders.csv")

In [188]:
customers['created'] = pd.to_datetime(customers['created'])

In [189]:
date1 = customers[:1]['created'].tolist()
date2 = customers[-2:-1]['created'].tolist()

In [206]:
customers['id'] = customers['id'].astype(str)
customers['id'] = customers['id'].str.strip()
orders['user_id'] = orders['user_id'].astype(str)
orders['user_id'] = orders['user_id'].str.strip()

In [55]:
customers =  pd.read_csv("C:\\Users\\M71846\\Desktop\\customers.csv")
orders = pd.read_csv("C:\\Users\\M71846\\Desktop\\orders.csv")

In [207]:
df = pd.merge(customers,orders , how = 'left',left_on = 'id',right_on = 'user_id')

In [208]:
df = df[['id_x','created_x','order_number','created_y']]
df.rename(columns = {'id_x':'user_id','created_x':'signup_date','created_y':'order_date'},inplace = True)

In [209]:
df.sort_values(['signup_date'], ascending = False).head()
df['signup_date'] = pd.to_datetime(df['signup_date'])
df['order_date'] = pd.to_datetime(df['order_date'])

In [210]:
df['signup_date1'] = pd.DatetimeIndex(df.signup_date).normalize()

In [211]:
df['order_date1'] = pd.DatetimeIndex(df.order_date).normalize()

In [212]:
df = df[['user_id','order_number','signup_date1','order_date1']]

In [247]:
#f['diff']  = df['order_date1'] - df['signup_date1']
df['diff'] = df['order_date1'].sub(df['signup_date1'], fill_value=0)

In [255]:
df.head()

  user_id  order_number signup_date1 order_date1   diff date_range
0   35410           NaN   2015-07-03         NaT -16619          0
1   35417           NaN   2015-07-03         NaT -16619          0
2   35412           NaN   2015-07-03         NaT -16619          0
3   35413           NaN   2015-07-03         NaT -16619          0
4   35424           1.0   2015-07-03  2015-07-03      0        0-6

In [310]:
def calculate_range(diff):
    if diff < 0:
        return '0'
    if len(str(diff))>1:
        if diff%10 != 0:
            zing = int(str(diff)[0])+1
        else:
            zing = int(str(diff)[0])
    else:
        zing = 1
    week = str(0+7*(zing-1)) +str('-')+str(6+7*(zing-1))
    return week

In [226]:
df['diff'] =  df['diff'].fillna(pd.NaT)

In [231]:
#df['diff'].fillna(pd.NaT).T

In [311]:
#df['diff'] =  df['diff'].dt.days
df['date_range'] = df['diff'].apply(lambda x :calculate_range(x) )

In [312]:
df.head()

  user_id  order_number signup_date1 order_date1   diff date_range
0   35410           NaN   2015-07-03         NaT -16619          0
1   35417           NaN   2015-07-03         NaT -16619          0
2   35412           NaN   2015-07-03         NaT -16619          0
3   35413           NaN   2015-07-03         NaT -16619          0
4   35424           1.0   2015-07-03  2015-07-03      0        0-6

In [313]:
df2 = df.sort_values(['date_range'])

In [314]:
df2['cohort'] = df2['signup_date1'].apply(lambda x : [y[0].strftime('%Y/%m/%d')+'-' + y[1].strftime('%Y/%m/%d') for y in reange_date if y[0]<=x<=y[1]][0])

In [260]:
date1 = df2[:1]['signup_date1'].tolist()[0]
date2 = df2[-2:-1]['signup_date1'].tolist()[0]

In [258]:
def  cohort(date1,date2):
    import datetime
    range_list = []
    #range2 = date.strftime('%Y/%m/%d')
    while date1 > date2:
        range2 = date1 - datetime.timedelta(6)
        #range1 = r.strftime('%Y/%m/%d')
        range_list.append((range2,date1))
        date1 = range2 -datetime.timedelta(1)
        #range12 = range1 + '-' +range2
    return range_list

In [261]:
reange_date = cohort(date1,date2)

In [315]:
df2.sort_values(['cohort','date_range'],ascending = True,inplace = True)

In [316]:
df2.columns

Index(['user_id', 'order_number', 'signup_date1', 'order_date1', 'diff',
       'date_range', 'cohort'],
      dtype='object')

In [473]:
df2 = df2[['order_number','date_range', 'cohort']]
df3 =  df2

In [452]:
df3 = df2.groupby(['cohort','date_range']).count()

In [453]:
df3.head()

                                  order_number
cohort                date_range
2014/12/31-2015/01/06 0                      0
                      0-6                   54
                      14-20                 17
                      21-27                 14
                      28-34                 10

In [448]:
df4 = df3.unstack(level =1)

In [469]:
df4 = df3

In [470]:
type(df4
    )

pandas.core.frame.DataFrame

In [456]:
df4.columns = df4.columns.droplevel()

AttributeError: 'Index' object has no attribute 'droplevel'

In [361]:
p = sorted(df4.columns.tolist())

In [441]:
df4.columns.name = None

In [389]:
df5 = df4.reset_index()

In [392]:
df5.columns

Index(['cohort', '0', '0-6', '14-20', '21-27', '28-34', '35-41', '42-48',
       '49-55', '56-62', '63-69', '7-13'],
      dtype='object')

In [442]:
df4.columns

Index(['0', '0-6', '14-20', '21-27', '28-34', '35-41', '42-48', '49-55',
       '56-62', '63-69', '7-13'],
      dtype='object')

In [394]:
del df4['0']

In [443]:
columns = sorted(df4.columns)

In [427]:
columns.insert(1,'7-13')

In [435]:
columns = columns[:-2]

In [436]:
df4 = df4[columns]

In [466]:
#df4.sort_index(ascending = False)

In [463]:
df4.reset_index(inplace = True)

In [474]:
df4

                    cohort date_range  order_number
0    2014/12/31-2015/01/06          0             0
1    2014/12/31-2015/01/06        0-6            54
2    2014/12/31-2015/01/06      14-20            17
3    2014/12/31-2015/01/06      21-27            14
4    2014/12/31-2015/01/06      28-34            10
5    2014/12/31-2015/01/06      35-41            12
6    2014/12/31-2015/01/06      42-48             6
7    2014/12/31-2015/01/06      49-55             6
8    2014/12/31-2015/01/06      56-62            11
9    2014/12/31-2015/01/06      63-69            10
10   2014/12/31-2015/01/06       7-13            92
11   2015/01/07-2015/01/13          0             0
12   2015/01/07-2015/01/13        0-6           411
13   2015/01/07-2015/01/13      14-20           155
14   2015/01/07-2015/01/13      21-27           124
15   2015/01/07-2015/01/13      28-34           129
16   2015/01/07-2015/01/13      35-41           141
17   2015/01/07-2015/01/13      42-48           131
18   2015/01/07-2015/01/13      49-55            93
19   2015/01/07-2015/01/13      56-62            96
20   2015/01/07-2015/01/13      63-69            87
21   2015/01/07-2015/01/13       7-13           831
22   2015/01/14-2015/01/20          0             0
23   2015/01/14-2015/01/20        0-6           279
24   2015/01/14-2015/01/20      14-20            67
25   2015/01/14-2015/01/20      21-27            72
26   2015/01/14-2015/01/20      28-34           109
27   2015/01/14-2015/01/20      35-41            85
28   2015/01/14-2015/01/20      42-48            72
29   2015/01/14-2015/01/20      49-55            68
..                     ...        ...           ...
206  2015/05/20-2015/05/26          0             0
207  2015/05/20-2015/05/26        0-6           192
208  2015/05/20-2015/05/26      14-20            64
209  2015/05/20-2015/05/26      21-27            62
210  2015/05/20-2015/05/26      28-34            33
211  2015/05/20-2015/05/26       7-13            71
212  2015/05/27-2015/06/02          0             0
213  2015/05/27-2015/06/02        0-6           174
214  2015/05/27-2015/06/02      14-20            57
215  2015/05/27-2015/06/02      21-27            45
216  2015/05/27-2015/06/02      28-34             1
217  2015/05/27-2015/06/02       7-13            71
218  2015/06/03-2015/06/09          0             0
219  2015/06/03-2015/06/09        0-6           190
220  2015/06/03-2015/06/09      14-20            60
221  2015/06/03-2015/06/09      21-27            12
222  2015/06/03-2015/06/09       7-13            76
223  2015/06/10-2015/06/16          0             0
224  2015/06/10-2015/06/16        0-6           200
225  2015/06/10-2015/06/16      14-20            32
226  2015/06/10-2015/06/16       7-13            64
227  2015/06/17-2015/06/23          0             0
228  2015/06/17-2015/06/23        0-6           217
229  2015/06/17-2015/06/23      14-20             1
230  2015/06/17-2015/06/23       7-13            50
231  2015/06/24-2015/06/30          0             0
232  2015/06/24-2015/06/30        0-6           163
233  2015/06/24-2015/06/30       7-13            12
234  2015/07/01-2015/07/07          0             0
235  2015/07/01-2015/07/07        0-6           186

[236 rows x 3 columns]

In [475]:
#d
df4.pivot(index = 'cohort',columns = 'date_range',values = 'order_number' )
#df.columns

date_range,0,0-6,14-20,21-27,28-34,35-41,42-48,49-55,56-62,63-69,7-13
cohort,,,,,,,,,,,
2014/12/31-2015/01/06,0.0,54.0,17.0,14.0,10.0,12.0,6.0,6.0,11.0,10.0,92.0
2015/01/07-2015/01/13,0.0,411.0,155.0,124.0,129.0,141.0,131.0,93.0,96.0,87.0,831.0
2015/01/14-2015/01/20,0.0,279.0,67.0,72.0,109.0,85.0,72.0,68.0,65.0,61.0,474.0
2015/01/21-2015/01/27,0.0,374.0,121.0,113.0,107.0,105.0,97.0,90.0,99.0,89.0,551.0
2015/01/28-2015/02/03,0.0,200.0,55.0,62.0,60.0,48.0,52.0,54.0,54.0,38.0,311.0
2015/02/04-2015/02/10,0.0,145.0,35.0,33.0,33.0,25.0,40.0,31.0,45.0,36.0,168.0
2015/02/11-2015/02/17,0.0,98.0,35.0,28.0,35.0,24.0,23.0,28.0,21.0,14.0,147.0
2015/02/18-2015/02/24,0.0,134.0,47.0,38.0,38.0,32.0,37.0,29.0,34.0,28.0,169.0
2015/02/25-2015/03/03,0.0,301.0,92.0,92.0,86.0,84.0,81.0,71.0,62.0,63.0,295.0
2015/03/04-2015/03/10,0.0,262.0,81.0,58.0,70.0,63.0,77.0,47.0,58.0,47.0,216.0
2015/03/11-2015/03/17,0.0,151.0,50.0,47.0,45.0,46.0,39.0,37.0,35.0,34.0,115.0
2015/03/18-2015/03/24,0.0,130.0,43.0,53.0,43.0,31.0,40.0,37.0,56.0,36.0,69.0
2015/03/25-2015/03/31,0.0,113.0,51.0,33.0,45.0,35.0,34.0,47.0,37.0,38.0,52.0
2015/04/01-2015/04/07,0.0,121.0,59.0,48.0,52.0,50.0,55.0,50.0,38.0,28.0,52.0
2015/04/08-2015/04/14,0.0,107.0,38.0,48.0,31.0,28.0,41.0,38.0,25.0,NaN,56.0
2015/04/15-2015/04/21,0.0,109.0,42.0,31.0,32.0,30.0,48.0,38.0,7.0,NaN,43.0
2015/04/22-2015/04/28,0.0,193.0,59.0,50.0,53.0,51.0,61.0,26.0,NaN,NaN,63.0
2015/04/29-2015/05/05,0.0,165.0,57.0,48.0,52.0,50.0,32.0,NaN,NaN,NaN,57.0
2015/05/06-2015/05/12,0.0,137.0,59.0,44.0,55.0,25.0,3.0,NaN,NaN,NaN,41.0
2015/05/13-2015/05/19,0.0,137.0,51.0,44.0,44.0,12.0,NaN,NaN,NaN,NaN,48.0
2015/05/20-2015/05/26,0.0,192.0,64.0,62.0,33.0,NaN,NaN,NaN,NaN,NaN,71.0
2015/05/27-2015/06/02,0.0,174.0,57.0,45.0,1.0,NaN,NaN,NaN,NaN,NaN,71.0
2015/06/03-2015/06/09,0.0,190.0,60.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,76.0
2015/06/10-2015/06/16,0.0,200.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0
2015/06/17-2015/06/23,0.0,217.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0
2015/06/24-2015/06/30,0.0,163.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0
2015/07/01-2015/07/07,0.0,186.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN